<mat-toolbar color="primary" style="border-radius:5px 5px 0 0;">
<mat-toolbar-row>
  <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button [routerLink]="['/news']">News</button>
  <button mat-button>Jobs</button>
  <span class="example-spacer"></span>
<button mat-button [matMenuTriggerFor]="settingsMenu">  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_box</mat-icon></button>
</mat-toolbar-row>
</mat-toolbar>

<mat-menu #settingsMenu="matMenu">
       <button mat-button color="primary"><mat-icon>account_circle</mat-icon>Nikhil Pawar</button>
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>help</button>
  
     <button mat-button color="primary"><mat-icon>exit_to_app</mat-icon>log Out</button>
</mat-menu>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>
